yarn-error.log
node_modules
dist

testApp/app-data.json
testApp/temp-room/*
!testestAppts/temp-room/.gitkeep
testApp/content-source-room/*
!testApp/content-source-room/.gitkeep
testApp/some-room-address/*

cucumber.js
